/* Define the entering animation */
.notification-enter {
  opacity: 0;
  transform: translateX(100%);
}
.notification-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

/* Define the exiting animation */
.notification-exit {
  opacity: 1;
}
.notification-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
