@media (min-width: 901px) {
  .notification-solo-container {
    display: none !important;
  }
}

.notification-fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.notification-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.notification-fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.notification-fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}
